.nft {
  width: 320px;
  height: 70vh;
  background-color: var(--very-dark-blue-card-bg);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 600px) {
    margin-top: 20px;
    padding: 27px;
    width: 73%;
    height: 80vh;
  }

  &__view-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__image {
    height: 58%;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    background-image: url("../../assets/images/image-equilibrium.jpg");
    background-position: center;
    background-size: cover;
    transition: box-shadow 0.3s;

    @media screen and (max-width: 600px) {
      height: 55%;
    }

    &:hover {
      box-shadow: inset 0 0 0 2000px hsla(178, 100%, 50%, 60%);
    }
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__title {
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
    opacity: 90%;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
      color: var(--cyan);
    }

    @media screen and (max-width: 600px) {
      font-size: 24px;
    }
  }

  &__description {
    color: var(--soft-blue);
    opacity: 70%;
    font-size: 18px;
    font-weight: 300;

    @media screen and (max-width: 600px) {
      font-size: 18px;
      line-height: 28px;
    }
  }
}
